.mutation {
    margin-top: 40px;
}

.mutation {
    margin-bottom: 30px;
}

pre {
    margin: 0;
    padding: 0;
    border : none;
    line-height: 1;
    border-radius: 0;
    overflow: hidden;
}
.original {
    background-color: #f2dede;
}

.mutated {
    background-color: #dff0d8;
}